In [3]:
# reading a csv file as dataframe and saving it as excel

import pandas as pd

df = pd.read_csv('uk-500.csv')

print(df.head()) # display first 5 rows

#print(df.columns) # returns headers of dataframe

    id first_name   last_name             company_name            address  \
0  1.0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1  2.0       Evan   Zigomalas       Cap Gemini America        5 Binney St
2  3.0     France     Andrade      Elliott, John W Esq       8 Moor Place
3  4.0    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4  5.0     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web    in  out
0  http://www.alandrosenburgcpapc.co.uk   9:3  NaN
1     http://www.capgeminiamerica.co.uk  9:13  NaN
2      http://www.elliottjohnwesq.co.uk  9:46  NaN
3          http://www.mcmahanbenl.co.uk   9:4  NaN
4        http://www.champagneroom.co.uk   8:1  NaN

In [4]:
df.to_excel('test.xlsx',index=False)

In [5]:
# filtering dataframe using iloc/loc
# iloc - uses row/column index
# loc - row values

In [6]:
# get the first row
df.iloc[0]

id                                               1.0
first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
in                                               9:3
out                                              NaN
Name: 0, dtype: object

In [7]:
# get the last row
df.iloc[-1]

id                                                      NaN
first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
in                                                     9:36
out                                                     NaN
Name: 499, dtype: object

In [8]:
# select range of rows
print(df.iloc[10:15])

      id   first_name  last_name                   company_name  \
10  11.0     Fernanda     Writer           K & R Associates Inc
11  12.0  Charlesetta        Erm               Cain, John M Esq
12  13.0     Corrinne      Jaret              Sound Vision Corp
13  14.0       Niesha      Bruch         Rowley/hansell Petetin
14  15.0       Rueben  Gastellum  Industrial Engineering Assocs

               address                            city                 county  \
10  620 Northampton St                      Wilmington                   Kent
11         5 Hygeia St            Loundsley Green Ward             Derbyshire
12      2150 Morley St                        Dee Ward  Dumfries and Galloway
13        24 Bolton St  Broxburn, Uphall and Winchburg           West Lothian
14        4 Forrest St               Weston-Super-Mare         North Somerset

      postal        phone1        phone2                             email  \
10   DA2 7PP  01630-202053  01687-879391             fernanda@writer.co.uk
11   S40 4LY  01276-816806  01517-624517         charlesetta_erm@gmail.com
12   DG8 7DE  01625-932209  01642-322954          corrinne_jaret@gmail.com
13  EH52 5TL  01874-856950  01342-793603            niesha.bruch@yahoo.com
14  BS23 3HG  01976-755279  01956-535511  rueben_gastellum@gastellum.co.uk

                                             web    in  out
10              http://www.krassociatesinc.co.uk  8:18  NaN
11                 http://www.cainjohnmesq.co.uk  8:50  NaN
12              http://www.soundvisioncorp.co.uk  9:55  NaN
13         http://www.rowleyhansellpetetin.co.uk  9:37  NaN
14  http://www.industrialengineeringassocs.co.uk  8:38  NaN

In [9]:
# get selective rows - pass row numbers as list

print(df.iloc[[13,25,31,48,64]])

      id first_name last_name                   company_name  \
13  14.0     Niesha     Bruch         Rowley/hansell Petetin
25  26.0    Leonard    Kufner   Arctic Star Distributing Inc
31  32.0     German    Zelaya  Jackson & Heit Machine Co Inc
48  49.0      Pedro   Aschoff              Charlotte Chamber
64  65.0     Louann  Smethers               Lba Savings Bank

             address                            city  \
13      24 Bolton St  Broxburn, Uphall and Winchburg
25     41 Canning St        Steornabhagh a Deas Ward
31    7 Shenstone St                   Longhill Ward
48       135 Opie St                Howard Town Ward
64  3055 Creswick St     Newbold and Brownsover Ward

                            county    postal        phone1        phone2  \
13                    West Lothian  EH52 5TL  01874-856950  01342-793603
25                   Western Isles   HS1 2PZ  01230-623547  01604-718601
31  Yorkshire, East (North Humbers   HU8 9PZ  01400-269033  01366-210656
48                      Derbyshire  SK13 8BB  01386-981141  01823-517315
64                    Warwickshire  CV21 1LN  01670-234959  01488-872531

                     email                                         web    in  \
13  niesha.bruch@yahoo.com       http://www.rowleyhansellpetetin.co.uk  9:37
25    lkufner@kufner.co.uk  http://www.arcticstardistributinginc.co.uk   8:9
31      german@hotmail.com    http://www.jacksonheitmachinecoinc.co.uk  9:35
48      paschoff@yahoo.com           http://www.charlottechamber.co.uk  9:53
64        louann@gmail.com             http://www.lbasavingsbank.co.uk  8:14

    out
13  NaN
25  NaN
31  NaN
48  NaN
64  NaN

In [10]:
# get 2 column 
print(df.iloc[:,2])

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
          ...
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object

In [11]:
# get range of column
print(df.iloc[:,2:5])

      last_name                    company_name             address
0    Tomkiewicz         Alan D Rosenburg Cpa Pc        14 Taylor St
1     Zigomalas              Cap Gemini America         5 Binney St
2       Andrade             Elliott, John W Esq        8 Moor Place
3     Mcwalters                  Mcmahan, Ben L       505 Exeter Rd
4        Veness                  Champagne Room   5396 Forth Street
..          ...                             ...                 ...
495        Veit      Plaza Gourmet Delicatessen  9166 Devon St #905
496     Euresti            Fitzgerald, Edward J        70 Foster St
497    Brenning              Furey & Associates     714 Fonthill Rd
498       Keeny        Bfg Federal Credit Union         9 Milton St
499      Richan  Nelson Wright Haworth Golf Crs     6 Norwood Grove

[500 rows x 3 columns]

In [12]:
#selective columns - column numbers passed as list

print(df.iloc[:,[2,5,8]])

      last_name                            city        phone1
0    Tomkiewicz               St. Stephens Ward  01835-703597
1     Zigomalas                      Abbey Ward  01937-864715
2       Andrade  East Southbourne and Tuckton W  01347-368222
3     Mcwalters              Hawerby cum Beesby  01912-771311
4        Veness      Greets Green and Lyng Ward  01547-429341
..          ...                             ...           ...
495        Veit  Knightsbridge and Belgravia Wa  01748-625058
496     Euresti        Inverness Ness-Side Ward  01916-963261
497    Brenning                Darton West Ward  01888-152110
498       Keeny                Consett North ED  01877-379681
499      Richan               Tanworth-in-Arden  01451-785624

[500 rows x 3 columns]

In [13]:
# select row using row values
print(df.loc[df['email'].str.endswith('gmail.com')])

       id   first_name  last_name                  company_name  \
1     2.0         Evan  Zigomalas            Cap Gemini America
11   12.0  Charlesetta        Erm              Cain, John M Esq
12   13.0     Corrinne      Jaret             Sound Vision Corp
29   30.0        Karma     Quarto               J C S Machinery
32   33.0        Milly    Savidge     Bridgeway Plan For Health
..    ...          ...        ...                           ...
472   NaN          Mel   Picciuto                Avante Limited
480   NaN      Tijuana   Machalek        Schwartz, Thomas E Esq
483   NaN      Derrick    Dolloff       Proto Tek Manufacturing
494   NaN       Alesia      Katie  Nelsons Trmt & Pest Cntrl Co
498   NaN    Celestina      Keeny      Bfg Federal Credit Union

                    address                  city                  county  \
1               5 Binney St            Abbey Ward         Buckinghamshire
11              5 Hygeia St  Loundsley Green Ward              Derbyshire
12           2150 Morley St              Dee Ward   Dumfries and Galloway
29             1 Birkett St        Shard End Ward           West Midlands
32    129 Alexander Pope St          Franche Ward  Hereford and Worcester
..                      ...                   ...                     ...
472          8598 Rumney Rd          Hylands Ward                   Essex
480  1149 Highfield Rd #996    Fareham South Ward               Hampshire
483         236 Blantyre Rd          Everton Ward              Merseyside
494         4 Covent Garden        Farnworth Ward      Greater Manchester
498             9 Milton St      Consett North ED           County Durham

       postal        phone1        phone2                       email  \
1    HP11 2AX  01937-864715  01714-737668    evan.zigomalas@gmail.com
11    S40 4LY  01276-816806  01517-624517   charlesetta_erm@gmail.com
12    DG8 7DE  01625-932209  01642-322954    corrinne_jaret@gmail.com
29    B33 0NH  01857-864722  01307-667811           kquarto@gmail.com
32   DY11 9BW  01702-725589  01421-132652             milly@gmail.com
..        ...           ...           ...                         ...
472  RM11 1QL  01885-270480  01268-443299      mel.picciuto@gmail.com
480  PO14 9JJ  01242-532395  01336-686264  tijuana.machalek@gmail.com
483    L6 2EN  01982-734773  01619-554437   derrick_dolloff@gmail.com
494   BL4 7AF  01333-436799  01240-614527      alesia_katie@gmail.com
498   DH8 5LP  01877-379681  01600-463475   celestina_keeny@gmail.com

                                         web    in  out
1          http://www.capgeminiamerica.co.uk  9:13  NaN
11             http://www.cainjohnmesq.co.uk  8:50  NaN
12          http://www.soundvisioncorp.co.uk  9:55  NaN
29             http://www.jcsmachinery.co.uk  8:49  NaN
32   http://www.bridgewayplanforhealth.co.uk  9:24  NaN
..                                       ...   ...  ...
472           http://www.avantelimited.co.uk  8:39  NaN
480      http://www.schwartzthomaseesq.co.uk  8:59  NaN
483   http://www.prototekmanufacturing.co.uk   8:9  NaN
494  http://www.nelsonstrmtpestcntrlco.co.uk   9:4  NaN
498   http://www.bfgfederalcreditunion.co.uk  9:21  NaN

[130 rows x 14 columns]

In [14]:
# select row using row values and display only selected columns
print(df.loc[df['email'].str.endswith('gmail.com'),['first_name','last_name','email']])

      first_name  last_name                       email
1           Evan  Zigomalas    evan.zigomalas@gmail.com
11   Charlesetta        Erm   charlesetta_erm@gmail.com
12      Corrinne      Jaret    corrinne_jaret@gmail.com
29         Karma     Quarto           kquarto@gmail.com
32         Milly    Savidge             milly@gmail.com
..           ...        ...                         ...
472          Mel   Picciuto      mel.picciuto@gmail.com
480      Tijuana   Machalek  tijuana.machalek@gmail.com
483      Derrick    Dolloff   derrick_dolloff@gmail.com
494       Alesia      Katie      alesia_katie@gmail.com
498    Celestina      Keeny   celestina_keeny@gmail.com

[130 rows x 3 columns]

In [16]:
# filter a column with condition and update another column
print(df.loc[df['first_name']=='France'])

df.loc[df['first_name']=='France','last_name']='Andrew'

print(df.loc[df['first_name']=='France'])

    id first_name last_name         company_name       address  \
2  3.0     France   Andrade  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN
    id first_name last_name         company_name       address  \
2  3.0     France    Andrew  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN