In [1]:
# using aggregate and groupby functions
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
spark = SparkSession.builder.appName("sample").getOrCreate()
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
#df.printSchema()
df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/07 10:20:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/12/07 10:20:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/12/07 10:20:40 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [3]:
# get average of salary
print(df.select(avg("salary")).collect())
print(df.select(avg("salary")).collect()[0][0])

[Row(avg(salary)=3400.0)]
3400.0

In [4]:
# find the sum of salary for each department
df.groupby("department").sum("salary").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

In [5]:
df1 = spark.createDataFrame(data = df.groupby("department").sum("salary").collect(),schema=["department","total"])
df1.show()

+----------+-----+
|department|total|
+----------+-----+
|     Sales|18800|
|   Finance|10200|
| Marketing| 5000|
+----------+-----+

In [6]:
# write the results into csv file
g = df.groupby("department").sum("salary")

g.write.csv("results")

# g.write.option("header","true").csv("dir1")